.fecha {
  margin-bottom: 1%;
  text-align: center;
}
.fecha p {
  padding-top: 0px;
  margin-top: 0%;
  padding-bottom: 0px;
  margin-bottom: 0%;
  font-size: 15px;
}
.logo {
  width: 20%;
  text-align: center;
}
.logo a {
  font-size: 25px;
  font-weight: bold;
  font-family: portada-light;
}
